{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% tailwind_css %}
</head>
<body>
    <div class="nav flex p-5 justify-between items-center">
        <!-- Logo Section -->
        <div class="logoSec flex items-center">
            <img src="{% static 'logo.png' %}" class="w-10 mr-2" alt="Logo">
            <div class="logoText text-4xl font-semibold text-violet-700">Invex</div>
        </div>

        <div class="flex">
        <!-- Search Bar -->
        <div class="searchBar relative w-200 mr-5">
            <input type="text" placeholder="Search Product ..." class="w-72 p-3 pl-10 border-1 border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-violet-500 focus:border-violet-500 transition duration-300 flex items-center">
            <i class="fa-solid fa-magnifying-glass absolute left-3 top-3 p-1 text-gray-500"></i>
        </div>

        <!-- Login Button -->
        <a href="loginPage">
        <div class="loginButton bg-violet-700 flex items-center justify-center px-6 py-2 rounded-lg text-white hover:bg-white hover:text-violet-700 border-2 border-violet-700 cursor-pointer transition duration-300">
            <i class="fa-solid fa-user mr-2"></i> Login
        </div>
        </a>
    </div>
    </div>

    <div class="flex w-full justify-center mt-10">
    <table class="mt-2 border-collapse bg-white shadow-lg rounded-lg w-5/6">
        <thead>
            <tr class="bg-violet-500 text-white uppercase text-sm leading-normal">
                <th class="py-3 px-6 text-left">Item Name</th>
                <th class="py-3 px-6 text-left">SKU</th>
                <th class="py-3 px-6 text-center">Price(₹)</th>
                <th class="py-3 px-6 text-center">Category</th>
                <th class="py-3 px-6 text-center">Quantity</th>
                <th class="py-3 px-6 text-center">Status</th>
                <th class="py-3 px-6 text-center">Supplier</th>
                <th class="py-3 px-6 text-center">Last Updated</th>
            </tr>
        </thead>
        <tbody class="text-gray-700 text-sm">
            {% for product in products %}
            {% if product.isVisible == True %}
            <tr class="border-b hover:bg-gray-50">
              <td class="py-3 px-6 font-semibold">{{ product.name }}</td>
              <td class="py-3 px-6">{{ product.sku }}</td>
              <td class="py-3 px-6 text-center">{{ product.price }}</td>
              <td class="py-3 px-6 text-center">{{ product.category }}</td>
              <td class="py-3 px-6 text-center">-</td>
              <td class="py-3 px-6 text-center">
                -
              </td>
              <td class="py-3 px-6 text-center">-</td>
              <td class="py-3 px-6 text-center">{{ product.date }}</td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
    </table>
    </div>

    <script src="https://kit.fontawesome.com/8fe8423612.js" crossorigin="anonymous"></script>
</body>

</html>